{% extends 'base.html' %}
{% block content %}


<style>
    select {
        width: 50% !important;
        margin-left: 3em;
    }
</style>

<div class="main-content">

        <form method="GET" action="" id="filterform">


                <select id="available-select" onchange="subChange()" name="student"  class="multiselect available form-control" >
                    <option disabled value="None" selected>Please select a student</option>
                    {% for student in students %}
                    <option {% if current_student == student.id %} selected {% endif %}  value="{{student.id}}">{{ student.user.first_name }} {{student.user.last_name}}</option>
                    {% endfor %}
                </select>

                <br/><br/>

                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">Daily test paper reports</h3>

                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Attended</span>
                                                </div>
                                                <div class="chart-note">
                                                    <span class="dot dot--green"></span>
                                                    <span>Correct</span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart2"></canvas>
                                        </div>
                                        <br/>
                                        <div style="text-align: center;">
                                          <input onchange="SubmitForm()" type="radio" name="filter" value="0" {% if filter == "0" %} checked {% endif %}> Overall &nbsp;
                                          <input onchange="SubmitForm()" type="radio" name="filter" value="30" {% if filter == 30 %} checked {% endif %}> Last Month &nbsp;
                                          <input onchange="SubmitForm()"type="radio" name="filter" value="7" {% if filter == 7 %} checked {% endif %}> Last Week &nbsp;
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         </form>
                        <h3>{{ student_obj.user.get_full_name }}  Result - <span style="color: blue;">{{msg}}</span></h3> <a href="/analytics/?{% if current_student %}student={{current_student}}&{% endif %}{% if filter %}filter={{filter}}&{% endif %}mail=1" style="float: right;"><span class="badge badge-info">Send mail to parent: {{student_obj.parent_email}}</span></a>
                         {% include "mail_list.html" %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script>
    var data1 = {{total_list}}
    var data2 = {{attended_list}}
    var data3 = {{correct_list}}

    var list = []
    {% for obj in date_list %}

       list.push("{{obj.start_time}}")
    {% endfor %}

    var ctx = document.getElementById("recent-rep-chart2");
    if (ctx) {
      ctx.height = 250;
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: list,
          datasets: [
            {
              label: 'Attended (%)',
              backgroundColor: 'transparent',
              borderColor: 'blue',
              pointHoverBackgroundColor: '#fff',
              borderWidth: 0,
              data: data2

            },
            {
              label: 'Correct Answer (%)',
              backgroundColor: 'transparent',
              borderColor: 'green',
              pointHoverBackgroundColor: '#fff',
              borderWidth: 0,
              data: data3
            }


          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          responsive: true,
          scales: {
            xAxes: [{
              gridLines: {
                drawOnChartArea: true,
                color: '#f2f2f2'
              },
              ticks: {
                fontFamily: "Poppins",
                fontSize: 12
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                maxTicksLimit: 5,
                stepSize: 50,
                max: 100,
                fontFamily: "Poppins",
                fontSize: 12
              },
              gridLines: {
                display: true,
                color: '#f2f2f2'

              }
            }]
          },
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 4,
              hoverBorderWidth: 3
            }
          }


        }
      });
    }


    function subChange(){
      $('#filterform').submit()
    }


    function SubmitForm(){
        $('#filterform').submit()
    }

    </script>
{% endblock %}