{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Elips</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <!-- Main CSS-->

    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.init.js' %}"></script>

    {{ examform.media }}
    {{form.media}}







</head>

<body >
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">

                       <li {% if page == "home" %} class="active" {% endif %}>
                            <a href="{% url 'dashboard' %}">
                                <i class="fas fa-chart-bar"></i>Dashboard</a>
                        </li>
                        <li {% if page == "profile" %} class="active" {% endif %}>
                            <a href="{% url 'profile' %}">
                                <i class="fas fa-user"></i>Profile</a>
                        </li>
                        <li {% if page == "table" %} class="active" {% endif %}>
                            <a href="{% url 'time-table' %}">
                                <i class="fas fa-table"></i>Time Table</a>
                        </li>
                        <li {% if page == "daily" %} class="active" {% endif %}>
                            <a href="{% url 'daily-paper' %}">
                                <i class="far fa-list-alt"></i>Daily Test Paper <span style="color: red">*</span></a>
                        </li>
                        <li {% if page == "practice" %} class="active" {% endif %}>
                            <a href="{% url 'practice' %}">
                                <i class="fas fa-pencil-alt"></i>Practice Question</a>
                        </li>

                        <li {% if page == "result" %} class="active" {% endif %}>
                            <a href="{% url 'results' %}">
                                <i class="fas  fa-list-alt"></i>Results</a>
                        </li>

                        {% if request.user.is_superuser %}
                            <li {% if page == "student_result" %} class="active" {% endif %}>
                                <a href="{% url 'student-result' %}">
                                    <i class="fas  fa-graduation-cap"></i>Student Results</a>
                            </li>
                            <li {% if page == "analytics" %} class="active" {% endif %}>
                                <a href="{% url 'analytics_view' %}">
                                    <i class="fas  fa-line-chart"></i>Analytics</a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'images/icon/logo.png' %}" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li {% if page == "home" %} class="active" {% endif %}>
                            <a href="{% url 'dashboard' %}">
                                <i class="fas fa-chart-bar"></i>Dashboard</a>
                        </li>
                        <li {% if page == "profile" %} class="active" {% endif %}>
                            <a href="{% url 'profile' %}">
                                <i class="fas fa-user"></i>Profile</a>
                        </li>
                        <li {% if page == "table" %} class="active" {% endif %}>
                            <a href="{% url 'time-table' %}">
                                <i class="fas fa-table"></i>Time Table</a>
                        </li>
                        <li {% if page == "daily" %} class="active" {% endif %}>
                            <a href="{% url 'daily-paper' %}">
                                <i class="far fa-list-alt"></i>Daily Test Paper <span style="color: red">*</span></a>
                        </li>
                        <li {% if page == "practice" %} class="active" {% endif %}>
                            <a href="{% url 'practice' %}">
                                <i class="fas fa-pencil-alt"></i>Practice Question</a>
                        </li>

                        <li {% if page == "result" %} class="active" {% endif %}>
                            <a href="{% url 'results' %}">
                                <i class="fas  fa-list-alt"></i>Results</a>
                        </li>

                        {% if request.user.is_superuser %}
                            <li {% if page == "student_result" %} class="active" {% endif %}>
                                <a href="{% url 'student-result' %}">
                                    <i class="fas  fa-graduation-cap"></i>Student Results</a>
                            </li>

                            <li {% if page == "manage" %} class="active" {% endif %}>
                                <a href="{% url 'exam_list_view' %}">
                                    <i class="fa fa-scissors" aria-hidden="true"></i>Manage Exam</a>
                            </li>

                            <li {% if page == "analytics" %} class="active" {% endif %}>
                                <a href="{% url 'analytics_view' %}">
                                    <i class="fas  fa-line-chart"></i>Analytics</a>
                            </li>

                        {% endif %}



                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            {% if request.session.active_exam %}
                            <a href="/exam/{{request.session.active_slug}}/">You have an active Exam &nbsp;
                                <button type="button" class="btn btn-danger" style="float:right;" data-toggle="modal">
                                    Continue</button>
                                </a>
                            {% endif %}
                                <form class="form-header" action="" method="POST">



                            </form>
                            <div class="header-button">



                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            {% if request.user.student.image %}
                                                <img class="user-img" src="{{request.user.student.image.url}}" alt="elip" />
                                            {% else %}
                                            <img class="user-img" src="{% static 'images/avatar.jpg' %}" alt="elip" />
                                            {% endif %}
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{request.user.first_name}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="">
                                                        {% if request.user.student.image %}
                                                            <img class="user-img-bg" src="{{request.user.student.image.url}}" alt="elip" />
                                                        {% else %}
                                                            <img class="user-img-bg" src="{% static 'images/avatar.jpg' %}" alt="elip" />
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{request.user.first_name}} {{request.user.last_name}}</a>
                                                    </h5>
                                                    <span class="email">{{request.user.email}}</span>
                                                </div>
                                            </div>
                                            <!--<div class="account-dropdown__body">-->

                                                <!--<div class="account-dropdown__item">-->
                                                    <!--<a href="#">-->
                                                        <!--<i class="zmdi zmdi-settings"></i>Change Password</a>-->
                                                <!--</div>-->

                                            <!--</div>-->
                                            <div class="account-dropdown__footer">
                                                <a href="/logout/">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            {% block content %}
            {% endblock %}
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>
<!-- end document-->
