
{% extends 'base.html' %}
{% block content %}

<div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            {% for exam in exams %}
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong class="card-title">{{exam.name}}
                                                <small>
                                                    <span class="badge badge-success float-right mt-1" style="font-size: 0.8em;">{{exam.time}} Min</span>
                                                </small>
                                            </strong>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Date: <strong>{{exam.exam_date}}</strong></p>
                                            <p class="card-text">Questions: {{exam.questions.all |length }}</p>
                                        </div>
                                        <div style="padding: 1em;">
                                            <a href="/exam/{{exam.slug_field}}/">
                                            <button type="button" class="btn btn-success" style="float:right;" data-toggle="modal" data-target="#mediumModal">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp; Attend</button>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <!--&lt;!&ndash; modal medium &ndash;&gt;-->
            <!--<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">-->
                <!--<div class="modal-dialog modal-lg" role="document">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<h5 class="modal-title" id="mediumModalLabel">Explanation</h5>-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->
                            <!--<p>-->
                                <!--asdasdasda-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
    <!--&lt;!&ndash; end modal medium &ndash;&gt;-->


{% endblock %}