{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- MAIN CONTENT-->
              <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        {% if not paper_id %}
                       <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Exam History</h2>

                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Exam Name</th>
                                                <th class="text-center" >Date</th>
                                                <th class="text-center">Total Students Attended</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for paper in daily_paper %}
                                                <tr>
                                                    <td class="text-center">{{paper.name}}</td>
                                                    <td class="text-center">{{paper.exam_date}}</td>
                                                    <td class="text-center">{{paper.get_first_count}}</td>
                                                    <td class="text-center"><a  href="/student/results/?paper={{paper.id}}"><span class="badge badge-info">View</span></a> </td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if students %}
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Exam History <a  target="_blank"  href="/student/results/?paper={{paper_id}}&detail=1"><span class="badge badge-info">View Details</span></a> </h2>

                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Student Name</th>
                                                <th class="text-center">Total Questions</th>
                                                <th class="text-center">Attended</th>
                                                <th class="text-center">Correct</th>
                                                <th class="text-center">Wrong</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for key,value in main_list.items %}
                                                <tr>
                                                    <td class="text-center">{{key}}</td>
                                                    <td class="text-center">{{value.tq_list}}</td>
                                                    <td class="text-center">{{value.tt_list}}</td>
                                                    <td class="text-center">{{value.ct_list}}</td>
                                                    <td class="text-center">{{value.wa_list}}</td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
{% endblock %}