{% extends 'base.html' %}
{% block content %}
<div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-6">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{request.user.student.exam_date.date}} </h2>
                                                <span>{{days}} Days left for your exam</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{request.user.student.get_exam_count}}</h2>
                                                <span>Exams attended</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">Daily test paper reports</h3>

                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Attended</span>
                                                </div>
                                                <div class="chart-note">
                                                    <span class="dot dot--green"></span>
                                                    <span>Correct</span>
                                                </div>
                                            </div>
                                            <!--<div class="chart-info__right">-->
                                        <!--<div class="chart-statis">-->
                                                    <!--<span class="index incre">-->
                                                        <!--<i class="zmdi zmdi-long-arrow-up"></i>25%</span>-->
                                                    <!--<span class="label">Question Attended</span>-->
                                                <!--</div>-->
                                                <!--<div class="chart-statis mr-0">-->
                                                    <!--<span class="index decre">-->
                                                        <!--<i class="zmdi zmdi-long-arrow-down"></i>10%</span>-->
                                                    <!--<span class="label">From Last Score</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        </div>

                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart2"></canvas>
                                        </div>
                                        <br/>
                                        <div style="text-align: center;">
                                        <button type="button" class="btn btn-outline-secondary btn-sm active">Overall</button>
                                        <!--<button type="button" class="btn btn-outline-secondary btn-sm">Last Month</button>-->
                                        <!--<button type="button" class="btn btn-outline-secondary btn-sm">Last Week</button>-->
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Exam History</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>date</th>
                                                <th>Exam</th>
                                                <th class="text-right">Total Questions</th>
                                                <th class="text-right">Attended</th>
                                                <th class="text-right">Correct</th>
                                                <th class="text-right">Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        {% for object in results %}

                                            <tr>
                                                <td>{{object.start_time}}</td>
                                                <td>{{object.exam.name}}</td>
                                                <td class="text-right">{{object.exam.questions.all|length}}</td>
                                                <td class="text-right">{{object.get_attended}}</td>
                                                <td class="text-right">{{object.get_correct}}</td>
                                                <td class="text-right">{{object.exam.time}} Minutes</td>
                                            </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script>

    {% with request.user.student.exam_score as scorelist %}

    {{scorelist.date|safe}}
    {{scorelist.score|safe}}
        var ctx = document.getElementById("widgetChart4");
        if (ctx) {
      ctx.height = 115;
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: {{scorelist.date|safe}},
          datasets: [
            {
              label: "Score Percentage",
              data: {{scorelist.score|safe}},
              borderColor: "transparent",
              borderWidth: "0",
              backgroundColor: "rgba(255,255,255,.3)"
            }
          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              display: false,
              categoryPercentage: 1,
              barPercentage: 0.65
            }],
            yAxes: [{
              display: false
            }]
          }
        }
      });
    }




    var data1 = {{total_list}}
    var data2 = {{attended_list}}
    var data3 = {{correct_list}}

    var list = []
    {% for obj in date_list %}

       list.push("{{obj.start_time}}")
    {% endfor %}

    var ctx = document.getElementById("recent-rep-chart2");
    if (ctx) {
      ctx.height = 250;
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: list,
          datasets: [
            {
              label: 'Attended (%)',
              backgroundColor: 'transparent',
              borderColor: 'blue',
              pointHoverBackgroundColor: '#fff',
              borderWidth: 0,
              data: data2

            },
            {
              label: 'Correct Answer (%)',
              backgroundColor: 'transparent',
              borderColor: 'green',
              pointHoverBackgroundColor: '#fff',
              borderWidth: 0,
              data: data3
            }


          ]
        },
        options: {
          maintainAspectRatio: true,
          legend: {
            display: false
          },
          responsive: true,
          scales: {
            xAxes: [{
              gridLines: {
                drawOnChartArea: true,
                color: '#f2f2f2'
              },
              ticks: {
                fontFamily: "Poppins",
                fontSize: 12
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                maxTicksLimit: 5,
                stepSize: 50,
                max: 100,
                fontFamily: "Poppins",
                fontSize: 12
              },
              gridLines: {
                display: true,
                color: '#f2f2f2'

              }
            }]
          },
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 4,
              hoverBorderWidth: 3
            }
          }


        }
      });
    }



    {% endwith %}
    </script>
{% endblock %}