<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Manage Exam</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <style>
select {
  overflow: auto;
}
.panel-body {
  padding: 0;
}

.form-control {
  border: none;
}

.multiselect{
height:80vh !important;
}

.multiselect option{
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  width: 100%;
  margin-top: 1em;
  font-weight:bold;
}


.mt-10
{
    margin-top:4em !important;
    margin-left: auto;
    margin-right: auto;

}
select{
border: 1px solid #dddddd !important;
}


</style>
</head>

<body>

  <div class="container ">
  <h1>Choose exam questions for {{exam.name}}</h1>
    <br/>
      <form method="GET" action="" id="filterform">
        <div class="row">
          <div class="col-md-5">
            <select id="subject" name="subject" onchange="subChange()" class="form-control">
              <option value="0">Select Subject</option>
              {% for item in subject %}
              <option {% if item.id == subject_id %} selected {% endif %} value="{{item.id}}">{{item.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-5">
            <select name="chapter"onchange="subChange()"  id="departmentList" class="form-control">
              <option value="0" selected>Select Chapter</option>
              {% for item in chapter %}
              <option {% if item.id == chapter_id %} selected {% endif %}  value="{{item.id}}">{{item.name}}</option>
              {% endfor %}
            </select>
          </div>

        </div>
      </form>

    <br/><br/>


    <div class="row addremove-multiselect">
      <div class="col-lg-5 col-sm-5 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Select Questions</div>
            <div class="panel-body">
            <select id="available-select" name="select1"  class="multiselect available form-control" size="8" multiple="multiple">
                {% for item in q %}
                    {% if item not in exam_q %}
                      <option value="{{item.id}}">{{item.question |safe }}</option>
                    {% endif %}
                {% endfor %}
            </select>
           </div>
        </div>
      </div>
      <div class="multiselect-controls col-lg-2 col-sm-2 col-xs-12">
        <button type="button" id="rightall" class="rightall btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="right" class="right btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="left" class="left btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="leftall" class="leftall btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        <button type="button" id="submitid" onclick="changeQ()" class="btn btn-block">Save</button>
        <br/>

        <a href="/exam-list/"> <button type="button" id="backid" onclick="changeQ()" class="btn btn-block">Back</button></a>
      </div>

      <div class="col-lg-5 col-sm-5 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Selected Questions -  <span id="count"></span> </div>
            <div class="panel-body">
              <select id="selected-select" name="select2" class="multiselect selected form-control" size="8" multiple="multiple">
                {% for item in exam_q %}
                <option value="{{item.id}}">{{item.question |safe }}</option>
                {% endfor %}
              </select>
           </div>
        </div>
      </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
</body>

<script>

$(function () {

    function moveItems(origin, dest) {
        $(origin).find(':selected').appendTo(dest);
        $(dest).find(':selected').removeAttr("selected");
        $(dest).sort_select_box();
        $('#count').html($('#selected-select option').length);
    }

    function moveAllItems(origin, dest) {
        $(origin).children("option:visible").appendTo(dest);
        $(dest).find(':selected').removeAttr("selected");
        $(dest).sort_select_box();
        $('#count').html($('#selected-select option').length);
    }

    $('.left').on('click', function () {
        var container = $(this).closest('.addremove-multiselect');
        moveItems($(container).find('select.multiselect.selected'), $(container).find('select.multiselect.available'));
        $('#count').html($('#selected-select option').length);
    });

    $('.right').on('click', function () {
        var container = $(this).closest('.addremove-multiselect');
        moveItems($(container).find('select.multiselect.available'), $(container).find('select.multiselect.selected'));
      $('#count').html($('#selected-select option').length);
    });

    $('.leftall').on('click', function () {
        var container = $(this).closest('.addremove-multiselect');
        moveAllItems($(container).find('select.multiselect.selected'), $(container).find('select.multiselect.available'));
        $('#count').html($('#selected-select option').length);
    });

    $('.rightall').on('click', function () {
        var container = $(this).closest('.addremove-multiselect');
        moveAllItems($(container).find('select.multiselect.available'), $(container).find('select.multiselect.selected'));
        $('#count').html($('#selected-select option').length);
    });

    $('select.multiselect.selected').on('dblclick keyup',function(e){
        if(e.which == 13 || e.type == 'dblclick') {
          var container = $(this).closest('.addremove-multiselect');
          moveItems($(container).find('select.multiselect.selected'), $(container).find('select.multiselect.available'));
        }
        $('#count').html($('#selected-select option').length);
    });

    $('select.multiselect.available').on('dblclick keyup',function(e){
        if(e.which == 13 || e.type == 'dblclick') {
            var container = $(this).closest('.addremove-multiselect');
            moveItems($(container).find('select.multiselect.available'), $(container).find('select.multiselect.selected'));
        }
        $('#count').html($('#selected-select option').length);
    });
    $('#count').html($('#selected-select option').length);



});

$.fn.sort_select_box = function(){
    // Get options from select box
    var my_options =$(this).children('option');
    // sort alphabetically
    my_options.sort(function(a,b) {
        if (a.text > b.text) return 1;
        else if (a.text < b.text) return -1;
        else return 0
    })
   //replace with sorted my_options;
   $(this).empty().append( my_options );

   // clearing any selections
   $("#"+this.attr('id')+" option").attr('selected', false);
}



function changeQ(){
var optionValues = [];
$('#selected-select option').each(function() {
    optionValues.push($(this).val());
});
}


function changeQ(id,action){
        var optionValues = [];
        $('#selected-select option').each(function() {
            optionValues.push($(this).val());
        });

        $.ajax({
        url: '/exam-create/{{exam.id}}/',
        data: {
          'list': String(optionValues),
        },
        dataType: 'json',
        success: function (data) {
          if (data) {
          }
          else{
          alert("Something went wrong")
          }
        }
      });
    }

    function subChange(){
      $('#filterform').submit()
    }


</script>

</html>
