{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>E-lip</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
     <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>

    <!-- Vendor CSS-->

    <!-- Main CSS-->

    <style>
      .fa{
         position: relative;
       }
		.container {
			margin-top: 50px;
		}

		.result {
			margin-top: 50px;
			display: none;
		}

		.title {
			background-color: #e7fdf5;
			padding: 15px;
			color: #2aa97e;
		}

		h4 {
			opacity: 0.7;
                }

        i {
            float: right;
        }
        .h5{
                font-weight: bold;
                opacity: 0.7;
        }
        .h6{
            float: right;
            font-size: 1em;
            font-weight: bold;
            opacity: 0.7;
        }
        .pad{
            padding-bottom: 2em;
            padding: 15px;
            text-align: center;
        }
        .badge{
                font-size: 1.5em;
        }
        .span-cls{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;
        }
        .span-small{
            font-size: 1em;
            font-weight: 600;
        }
        nav {
                display: table;
        }
        .float{
            float: right;
        } 

        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #6b747d;
            background-color: #e6e6e65e;
            border: 1px solid #6b747d;
        }
        .bg{
            background-color: #e6e6e65e;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #6b747d;

            border-color: #6b747d;
        }
        h4{
            font-size: 1.3em !important;
        }
        img{
            width: 26%;
        }

        .image-1{
            width: 20%;
        }

        label {
            display: inline-block;
            margin-bottom: .5rem;
            opacity: 0.7;
            font-weight: 600;
        }
        h4 p {
        display:inline;
        }

        #myBtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 99;
          font-size: 18px;
          border: none;
          outline: none;
          background-color: red;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
        }

        #myBtn:hover {
          background-color: #555;
        }






</style>


</head>

<body class="animsition">

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">


    <div class="row justify-content-center pad bg">
        <div class="col-md-6">
            <span class="span-cls">{{exam.name}}</span><br/>
            {% if exam.time %}
            <span class="span-small">Duration: {{exam.time}}min</span><br/>
            {% endif %}
            <span class="span-small">Questions:{{questions|length}} </span>
        </div>
            
    </div>

    
    <div class="row pad bg">
        
        <!--<div class="col-md-6">-->
            <!--<nav aria-label="Page navigation example">-->
              <!--<ul class="pagination">-->
                <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">5</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">6</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">7</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">8</a></li>-->
              <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->

        <div class="col-md-3  ">
             {% if result %}
                <a href="?end=1">
                <button type="button" class="btn btn-success m-l-10 m-b-10 float">End Exam
                </button>
                </a>
             {% endif %}
            {% if not result %}
                <a href="/exam/{{exam.slug_field}}/?practice=1">
                <button type="button" class="btn btn-success m-l-10 m-b-10 float">Attend
                </button>
                </a>
             {% endif %}
        </div>

        <div class="col-md-3">
            <span class="badge badge-secondary float" id="timer"></span>
        </div>

    </div>

    <br/>
{% with result.get_history as history_list %}
    {% for question in questions %}
	<div class="col-sm-12">
			<div class="form-group">
				<h4><span>{{forloop.counter}}. </span>{{question.question | safe}} <i class="fa fa-question-circle" data-toggle="modal"
                    data-target="#mediumModal{{question.id}}"></i></h4>
				<hr>
                {% for ans in question.answer.all %}
				<div class="form-radio">
					<input type="radio" onclick="setAnswer({{question.id}},{{ans.id}})" class="form-radio-input " id="{{ans.id}}" name="name{{question.id}}" {% if ans.id in history_list %} checked="checked" {% endif %} value="{{ans.id}}">
					<label class="form-radio-label" for="{{ans.id}}">{{ans.answer|safe}}</label>
				</div>
                {% endfor %}

			</div>
		<div class="result alert alert-info"></div>
	</div>

    <br/><br/>

    <!-- modal medium -->
            <div class="modal fade" id="mediumModal{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediumModalLabel">Explanation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                {{question.q_explanation}}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
    <!-- end modal medium -->
{% endfor %}
    {% endwith %}

</div>


<!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    </script>
       <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <script>


    function setAnswer(q_id,a_id){

    $.ajax({
        url: '/exam-q-attend/',
        data: {
          'q_id': q_id,
          'a_id': a_id
        },
        dataType: 'json',
        success: function(data) {
          if(data.success){
          if(data.delete){
          $("#"+a_id).prop("checked", false);
          }
          console.log("Question Attended")
          }
          else{
          alert("Error:"+data.error)
          }
        }
      });

    }

    </script>


<script>
{% if endtime %}
var countDownDate = parseInt("{{int_time}}")+19800277
console.log(countDownDate)
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = parseInt(distance / (1000 * 60 * 60 * 24));
  var hours = parseInt((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = parseInt((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = parseInt((distance % (1000 * 60)) / 1000);
  document.getElementById("timer").innerHTML =  hours + "h "
  + minutes + "m " + seconds + "s ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "Ended";
    document.location.reload()
  }
}, 1000);

{% endif %}

</script>



<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>




</body>
</html>
<!-- end document-->
