
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- MAIN CONTENT-->
              <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>date</th>
                                                <th>Exam Name</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Manage Questions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in exam %}
                                            <tr>
                                                <td>{{item.exam_date}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{% if item.daily_paper %}Daily {% else %}Practice{% endif %}</td>
                                                {% if not item.hidden %}
                                                <td class="process">Visible</td>
                                                {% else %}
                                                <td class="denied">Hidden</td>
                                                {% endif %}
                                                <td><a href="/exam-create/{{item.id}}/"><span class="badge badge-info">Manage</span></a> <a href="/exam-preview/{{item.id}}/"><span style="background-color:green;" class="badge badge-info">View Details</span></a></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->


{% endblock %}