{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            {% if not previous_list %}
                           <div class="col-lg-6 col-sm-6">
                                <!-- TOP CAMPAIGN-->

                                <div class="top-campaign">
                                    <h3 class="title-3 m-b-30">Chapters</h3>
                                    <div class="table-responsive">
                                        <table class="table table-top-campaign">
                                            <tbody>
                                                {% for obj in chapters %}

                                                        <tr {% if chapter_id == obj.id  %} style="font-weight:bold;" {% endif %} >
                                                            <td ><a href="/subject/{{sub}}/{{obj.id}}/" style="max-width: 62%;">{{forloop.counter}}. {{obj.name}}</a></td>
                                                            <td>Papers {{ obj.papers.all|length }}</td>
                                                        </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!--  END TOP CAMPAIGN-->
                            </div>
                            {% endif %}

                            {% if not previous_list %}
                            <div class="col-lg-6 col-sm-6">
                                <!-- TOP CAMPAIGN-->
                                <div class="top-campaign">
                                    <h3 class="title-3 m-b-30">Test Papers</h3>
                                    <div class="table-responsive">
                                        <table class="table table-top-campaign">

                                            {% if chapter_id %}
                                            <tbody>
                                            {% for obj in papers %}
                                                <tr >
                                                    <td>{{forloop.counter}}. {{obj.name}}</td>
                                                    <td>Questions {{obj.questions.all|length}}</td>
                                                    <td><a href="/exam/{{obj.slug_field}}/?practice=1">
                                                    <span class="badge badge-success">Attend</span>
                                                    </a>

                                                    <a href="/exam/{{obj.slug_field}}/?view=1">
                                                    <span class="badge badge-success">View</span>
                                                    </a>
                                                    </td>

                                                </tr>
                                            {% endfor %}

                                            {% if not papers %}
                                            No papers yet.
                                            {% endif %}



                                            </tbody>
                                            {% else %}
                                            Please select a chapter.
                                            {% endif %}



                                        </table>
                                    </div>
                                </div>
                                <!--  END TOP CAMPAIGN-->
                            </div>
                            {% endif %}

                            {% if  previous_list %}

                            <div class="col-lg-6 col-sm-6">
                                <!-- TOP CAMPAIGN-->
                                <div class="top-campaign">
                                    <h3 class="title-3 m-b-30">Previous Papers</h3>
                                    <div class="table-responsive">
                                        <table class="table table-top-campaign">

                                            <tbody>
                                            {% for obj in previous_list %}
                                                <tr >
                                                    <td>{{forloop.counter}}. {{obj.name}}</td>
                                                    <td>Questions {{obj.questions.all|length}}</td>
                                                    <td><a href="/exam/{{obj.slug_field}}/?practice=1">
                                                    <span class="badge badge-success">Attend</span>
                                                    </a>
                                                    <a href="/exam/{{obj.slug_field}}/?view=1">
                                                    <span class="badge badge-success">View</span>
                                                    </a>
                                                    </td>

                                                </tr>
                                            {% endfor %}

                                            {% if not previous_list %}
                                            No papers yet.
                                            {% endif %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!--  END TOP CAMPAIGN-->
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}