
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>




<br/>
<table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;">
  <tr>
    <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Date</th>
    <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Exam</th>
    <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Total</th>
    <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Attended</th>
    <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;">Correct</th>
  </tr>

    {% for item in daily_table %}
      <tr>
        <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.start_time}}</td>
        <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.exam.name}}</td>
        <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.get_question_count}}</td>
        <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.get_attended}}</td>
        <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{item.get_correct}}</td>
      </tr>
    {% endfor %}

</table>
