
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row">

                                {% for subject in subjects %}
                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src="{{subject.image.url}}"  style="height:209px" alt="Card image cap">
                                        <div class="card-body">
                                            <a href="/subject/{{subject.id}}/">
                                            <h4 class="card-title mb-3">{{subject.name}}</h4>
                                        </a>
                                            <p class="card-text">Chapters: {{subject.chapter.all|length}}
                                            </p>
                                            <p class="card-text">Papers: {{ subject.papers.all|length }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}


                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="{% static 'images/c.png' %}"  style="height:201px;width:279px;" height="201px" width="279px" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="/subject/0/">
                                        <h4 class="card-title mb-3">Previous Questions</h4>
                                    </a>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->


{% endblock %}