{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>E-lip</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->

    <!-- Main CSS-->

    <style>
		.container {
			margin-top: 50px;
		}

		.result {
			margin-top: 50px;
			display: none;
		}

		.title {
			background-color: #e7fdf5;
			padding: 15px;
			color: #2aa97e;
		}

		h4 {
			opacity: 0.7;
                }

        i {
            float: right;
        }
        .h5{
                font-weight: bold;
                opacity: 0.7;
        }
        .h6{
            float: right;
            font-size: 1em;
            font-weight: bold;
            opacity: 0.7;
        }
        .pad{
            padding-bottom: 2em;
            padding: 15px;
            text-align: center;
        }
        .badge{
                font-size: 1.5em;
        }
        .span-cls{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;
        }
        .span-small{
            font-size: 1em;
            font-weight: 600;
        }
        nav {
                display: table;
        }
        .float{
            float: right;
        }

        .page-link {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #6b747d;
            background-color: #e6e6e65e;
            border: 1px solid #6b747d;
        }
        .bg{
            background-color: #e6e6e65e;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #6b747d;

            border-color: #6b747d;
        }
        h4{
            font-size: 1.3em !important;
        }
        img{
            width: 26%;
        }

        .image-1{
            width: 20%;
        }

        label {
            display: inline-block;
            margin-bottom: .5rem;
            opacity: 0.7;
            font-weight: 600;
        }

        h4 p {
        display:inline;
        }



</style>


</head>

<body class="animsition">

<div class="container">
    <div class="row justify-content-center pad bg">
        <div class="col-md-6">
            <span class="span-cls">{{exam.name}}</span><br/>
            <span class="span-small">Duration: {{exam.time}}min</span><br/>

            <a  onclick="printThis()"><span class="badge badge-info">Print</span></a>

        </div>
    </div>
    <div class="row pad bg">
        <div class="col-md-3">
            <!--<nav aria-label="Page navigation example">-->
              <!--<ul class="pagination">-->
                <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">5</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">6</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">7</a></li>-->
                <!--<li class="page-item"><a class="page-link" href="#">8</a></li>-->
              <!--</ul>-->
            <!--</nav>-->
        </div>
    </div>
    <br/>
    {% for obj in exam.questions.all %}
        <div class="col-sm-12">
                <div class="form-group">
                    <h4>{{forloop.counter}}. {{obj.question|safe}} <i class="fa fa-question-circle" data-toggle="modal"
                        data-target="#mediumModal{{forloop.counter}}"></i></h4>
                    <hr>
                    {% for ans in obj.answer.all %}
                    <div class="form-radio">
                        <input type="radio" class="form-radio-input" id="n{{ans.id}}" name="name{{obj.id}}" {% if ans.correct %} checked="checked" {% endif %} value="{{ans.id}}">
                        <label class="form-radio-label"
                              {% if ans.correct %} style="color:green;" {% endif %}
                               for="n{{ans.id}}">{{ans.answer|safe}}</label>
                        {% if ans.correct %}
                         <div class="alert alert-warning" role="alert">
                                <p>{{obj.a_explanation|safe}}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
        </div>
    <br/>
    <!-- modal medium -->
            <div class="modal fade" id="mediumModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediumModalLabel{{forloop.counter}}">Explanation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                {{obj.q_explanation | safe}}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal medium -->
    {% endfor %}
</div>

<!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    </script>
</body>
</html>

<script>

function printThis(){
window.print();
}
</script>
<!-- end document-->
