
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- MAIN CONTENT-->
              <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Exam History</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>date</th>
                                                <th>Exam</th>
                                                <th class="text-right">Score</th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for result in results %}
                                            {% if result.ended %}
                                                <tr>
                                                    <td {% if result.first_time %}style="font-weight:bold;"{% endif %}>{{result.start_time}}</td>
                                                    <td>{{result.exam.name}}</td>
                                                    <td class="text-right">{{result.get_correct}}/{{result.exam.questions.all | length}}</td>
                                                    <td><a  href="/final/?hub={{result.id}}"><span class="badge badge-info">View</span></a> </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Elip Academy. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->


{% endblock %}