<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br/><br/>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        {% for q in exam.questions.all %}
        <th class="text-center">{{forloop.counter}}</th>
        {% endfor %}
          <th class="text-center">Correct</th>
          <th class="text-center">Wrong</th>
      </tr>
    </thead>
    <tbody>

    {% for key,value in main_list.items %}
            <tr>
                <td class="text-center">{{key}}</td>
                {% for item in value.mark_list %}
                {% if item == 1 %}
                <td class="text-center">&#10004;</td>
                {% elif item == 0 %}
                <td class="text-center">&#x2718;</td>
                {% elif item == 'A' %}
                    <td class="text-center">A</td>
                {% endif %}
                {% endfor %}
                <td class="text-center">{{value.ct_list}}</td>
                <td class="text-center">{{value.wa_list}}</td>

            </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
